@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



body {
    margin: 0;
    margin-left: 200px;
    display: block;
    background-image: linear-gradient(to right, tan);
}

/* body::after {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 3.0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
} */

 main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;

}

.each-product{
    border-style: solid;
    border-color: white;
    box-shadow:  0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    margin: 3em;
    padding: 5em;
    background-color: rgba(255, 166, 0, 0.342);
}

/* .each-product:hover {
    width: 250px;
} */

li {
    text-align: center;
    position: relative;
    right: 21px;
    top: 65px;
}


ul {
    list-style-type: none;
    text-align: center;
}

.btn {
    position: relative;
    top: 65px;
    --accent-color: #0AF;
}

.btn.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0; 
    bottom: 0; 
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.btn.btn:hover::before, 
.btn.btn:focus::before {
    transform: scaleX(1);
}

.btn.btn {
    z-index: 1;
}

.btn.btn:hover, 
.btn.btn:focus {
    color: white;
}


/* .btn:hover {
    color: #42b0f5;
} */

h4 {
    position: relative;
    bottom: 75px;
    font-size: 25px;
}

h4:hover {
    color: #42b0f5;
}

.container-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}


.certain-product {
    display: grid;
   width: 500px;
    height: 500px;
    box-shadow:  0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 3em;
    padding: 5em;
    border-radius: 30px;
    position: relative;
    left: 450px;
} 

p {
    position: relative;
    top: 30px;
}


h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 45px;
}

h1:hover {
    /* font-size: 65px; */
    transition-duration: 1s; 
      transform: scale(1.35);
}

 i {
    font-size: 75px;
    position: relative;
    top: 0px;
    left: 0px; 
    position:absolute;
    color: gray;
 }

.side-nav{
    width: 200px; 
    height: 100vh; 
    position: fixed; 
    background-color: #42b0f57a;
    color: white; 
    top: 0; 
    left: 0; 
    padding: 30px 20px; 
    display:flex; 
    flex-direction: column;
    justify-content: space-between;
}

.product-in-cart {
    border-style: solid;
    border-color: white;
    box-shadow:  0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    width: 20x;
    text-align: center;
    margin: 1em;
    padding: 1em;
    background-color: black;
  
    
}


    



