@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    margin: 0;
    margin-left: 200px;
    display: block;
    /* background-color: black; */
}

/* body::after {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 3.0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
} */

 main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0 auto;
        /* background-color: linear-gradient(to right,#0b0C10); */


}

.each-product{
    border-style: solid;
    border-color: white;
    box-shadow:  0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    margin: 1em;
    /* margin: 0 auto; */

    padding: 5em;
    /* background-color: rgba(255, 166, 0, 0.342); */
    background-color: white;

}

.each-product img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    transition: transform .5s ease;
    border-color: black;
    box-shadow:  0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

/* .product-images {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    transition: transform .5s ease;


} */

.each-product img:hover {
      transform: scale(1.5);

}

/* .each-product:hover {
    width: 250px;
} */

li {
    text-align: center;
    position: relative;
    right: 21px;
    top: 65px;
    /* border: solid; */
}


ul {
    list-style-type: none;
    text-align: center;
}

.btn {
    position: relative;
    top: 65px;
    --accent-color: #0AF;
}

.btn.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0; 
    bottom: 0; 
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.btn.btn:hover::before, 
.btn.btn:focus::before {
    transform: scaleX(1);
}

.btn.btn {
    z-index: 1;
}

.btn.btn:hover, 
.btn.btn:focus {
    color: white;
}


/* .btn:hover {
    color: #42b0f5;
} */

h4 {
    position: relative;
    bottom: 75px;
    font-size: 25px;



}

h4:hover {
    color: #42b0f5;
}

.container-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    /* text-align: center; */
    
}


.certain-product {
    display: grid;
   width: 550px;
    height: 550px;
    box-shadow:  0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 3em;
    padding: 5em;
    border-radius: 30px;
    position: relative;
    left: 450px;
} 

.certain-product img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    transition: transform .5s;
} 

.certain-product img:hover {
    transform: scale(1.5);

}

.certain-product h2 {
    position: relative;
    bottom: 75px;
    font-size: 25px;
}

.single-product-li {
    text-align: center;
    position: relative;
    top: 10px;
    font-size: 20px;
}

.description-ptag {
    text-align: center;
    position: relative;
    bottom: 5px;
    font-size: 20px;
}

.category-ptag {
    text-align: center;
    position: relative;
    bottom: 20px;
    font-size: 20px;
}

.add-cart {
    border: none;
background: #404040;
color: #ffffff !important;
font-weight: 100;
padding: 10px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
position: relative;
bottom: 20px;
}

.add-cart:hover {
    color: #42b0f5 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
/* -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57); */
transition: all 0.3s ease 0s;
}


/* p {
    position: relative;
    top: 20px;
} */


h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 60px;
}

h1:hover {
    color: #42b0f5;
}

h1:hover {
    /* font-size: 65px; */
    transition-duration: 1s; 
      transform: scale(1.35);
}

 i {
    /* font-size: 75px;
    position: relative;
    top: 0px;
    left: 0px; 
    position:absolute;
    color: gray; */
    font-size: 40px;
    position: absolute;
    top: 15px;
    left: 45px; 
    height: 45px; 
    width: 45px; 
    border-radius: 3px;
    
 }

 i span {
     font-size: 25px;
     line-height: 35px;
     position: relative;
     left: 30px; 

 }

.side-nav{
    width: 250px; 
    height: 100%; 
    position: fixed; 
    /* background-color: #42b0f57a; */
    background-color: #1b1b1b;
    color: white; 
    top: 0; 
    left: 0; 
    padding: 30px 20px; 
    display:flex; 
    flex-direction: column;
    justify-content: space-between;
} 

.side-nav li {
    color: white; 
    font-size: 15px; 
    font-weight: 600; 
    /* line-height: 65px;  */
    text-align: center;
    /* background: #1e1e1e; */
    letter-spacing: 1px;
    position: relative;
    bottom: 250px;
}

.side-nav h2 {
    position: relative;
    bottom: 95px; 
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.close-btn {
    position: relative;
    bottom: 225px;
    left: 190px;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.close-btn:hover {
    background: #ed3330;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.product-in-cart {
    /* border-style: solid;
    border-color: white;
    box-shadow:  0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1); */
    /* width: 100%;
    height: 15px; */
    /* text-align: center;
    margin: 1em;
    padding: 1em; */
    /* background-color:black;
    */
    position: relative;
    top: 60px;
    display:block; 
    width: 100%; 
    height: 100px;
    color: black;
    line-height: 60px; 
    border-bottom: 3px solid cyan;
    background-color: white;
    text-align: center;
}

.product-in-cart h4 {
    position: relative;
     bottom: 30px;
}

.product-in-cart p {
    position: relative;
    bottom: 50px;
} 

.product-in-cart button {
    position: relative;
    bottom: 100px;
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    /* padding: 20px; */
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.product-in-cart button:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    /* letter-spacing: 3px; */
    background: none;
    /* -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57); */
    transition: all 0.3s ease 0s;
}

/* .product-in-cart:hover {
    border-left: 3px solid transparent; 
    border-left-color: cyan;
} */

.close {
    position:absolute;
    top:0;
    right:0;
  
    --accent-color: #0AF;
}

/* .close:hover {
    border: solid;
    
} */


.close.close::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0; 
    bottom: 0; 
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.close.close:hover::before, 
.close.close:focus::before {
    transform: scaleX(1);
}

.close.close {
    z-index: 1;
}

.close.close:hover, 
.close.close:focus {
    color: white;
}


    



